/* ================================
   APP MAIN
================================ */

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;

  /* IMPORTANT */
  height: auto ;
  overflow-x: hidden ;
  overflow-y: auto ;
}

body {
  margin: 0;
  padding: 0;
  overflow-y: auto ;
}

.app-container {
  width: 100%;
  min-height: 100vh;

  height: auto ;

  overflow-x: hidden ;
  overflow-y: visible ;
}